h1 {
    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Consolas, monaco, monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
#queries{
    visibility: hidden;
}
#query{
    background-color: #eee;
    padding: 10px;
    visibility: hidden;
}
#query-results{
    visibility: hidden;
}
#query-results pre{
    background-color: #eee;
    margin: 2px;
    font-size: 0.6em;
}
ol li{
    font-family: Consolas, monaco, monospace;
    font-size: 0.9em;
}